- const title = "Welcome";

doctype html
html
	include header.pug
		link(href="main.1e26730b9247dc082604.css" rel="stylesheet")
	body
		include footer.pug
		script(src="main.88c75da5adaccd56b502.js")
		script(src="vendor.0584b3991140defa03a7.js")