- const title = "Welcome";

doctype html
html
	include header.pug
		link(href="main.dc39441df479c94fcca3.css" rel="stylesheet")
	body
		include footer.pug
		script(src="main.1e23c30eea573f737a64.js")
		script(src="vendor.927111931ef3f766a7fe.js")