- const title = "Welcome"

doctype html
html
	include header.pug
		link(href="../public/main.71e51fe416e13ce99b6d.css" rel="stylesheet")
	body Dupa
		script(src="../public/main.64bf907d6772611e8226.js")