.contact-wrapper {
	@extend .col-lg-8;
	@extend .offset-lg-2;
	background-color: $site-primary;
	border-radius: 10px;

	.contact {
		@extend .row;

		&-text {
			@extend .col;
			@extend .display-4;
			@extend .my-4;

			font-weight: bold;
			text-align: center;
		}
	}

	.form-wrapper {
		@extend .row;
		@extend .mb-3;

		form {
			@extend .col-md-8;
			@extend .offset-md-2;
			@extend .py-3;
		
			display: flex;
			flex-direction: column;
			align-items: center;

			input, textarea {
				@extend .my-2;
				@extend .px-2;
				@extend .py-1;

				width: 100%;
				background-color: transparent;
				background-color: white;
				border-style: none;
				border-bottom: 3px solid $site-secondary;
				border-radius: 5px;
			}

			input {
				height: 35px;
			}

			button {
				@extend .my-2;
				@extend .btn;
				@extend .btn-primary-darkened;

				font-weight: bold;
				width: 50%;
			}
		}
	}

	.social-media {
		display: flex;
		flex-direction: column;

		&-text {
			@extend .h1;
			@extend .my-3;

			font-weight: bold;
			text-align: center;
		}

		&-content {
			@extend .mb-3;

			display: flex;
			justify-content: center;
			height: 70px;

			.icons {
				display: flex;

				a {
					margin: 0 10px;
					margin-top: 10px;
					background-color: $site-primary-darkened;
					border-radius: 5px;
					color: white;
					font-size: 40px;
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: margin 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
	
					&:hover {
						margin-top: 0;
						transition: margin-top 0.25s ease-in-out
					}
				}	
			}
		}
	}
}