body {
	font-family: 'Cabin', sans-serif;
	color: $site-third;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid {
	margin: 0;
	padding: 0;
	min-height: calc(100vh - #{$footer-height});
}

#page-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: calc(#{$navbar-height} + 25px);
	min-height: calc(100vh - #{$footer-height});

	&.no-top {
		padding-top: $navbar-height;
	}

	&.no-bottom {
		padding-bottom: 0;
	}
}

hr {
	border-top-color: $site-second;
	border-top-width: 2px;
	border-radius: 5px;
}

#particles-js {
	width: 100%;
	height: 100%;

	&.particles-full-page {
		position: fixed;
		z-index: 0;
	}
}