body {
	font-family: 'Inter', sans-serif;
	color: $site-tertiary;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid {
	margin: 0;
	padding: 0;
	min-height: calc(100vh - 60px);
}

#page-content {
	padding-top: calc(#{$navbar-height} + 25px);
	min-height: calc(100vh - #{$footer-height} - 16px);

	&.no-top {
		padding-top: $navbar-height;
	}
}

.btn-primary-darkened {
	@include button-variant($site-primary-darkened, darken($site-primary-darkened, 3%));
}