.darkmode {
	background-color: $site-third;

	nav {
		background-color: $site-second;
		ul > a {
			color: $site-first;

			&:hover {
				color: $site-fourth;
			}
		}
	}

	.dropdown-menu-bar {
		background-color: $site-second;

		.burger-bars {
			background-color: $site-first;

			&::before {
				background-color: $site-first;
			}

			&::after {
				background-color: $site-first;
			}
		}
		
		.open {
			background-color: transparent;
		}
	}

	#menu-drop {
		background-color: $site-second;
		
		.list {
			a {
				color: $site-first;
			}

			hr {
				border-top-color: $site-first;
			}
		}
	}

	footer {
		background-color: $site-second;
		
		.footer-text {
			color: $site-first;
		}
	}

	.welcome-page-screen { 
		background: $site-third;

		.welcome-bar {
			background-color: $site-second;
			color: $site-first;

			hr {
				border-top-color: $site-first;
			}

			.resume {
				a {
					@extend .btn-primary;
				}
			}
		}
	}

	#about-me {
		background-color: $site-second;
		color: $site-first;
	}

	.about-me-wrapper {
		background-color: $site-third;
		color: $site-fourth;

		.container > .row > .about-me-content-wrapper > .about-me-content {
			h1 {
				color: $site-first;
			}

			h2 {
				color: $site-first;
			}

			h3 {
				color: $site-first;
			}
		}
	}

	#page-content {
		background-color: $site-third;
	}

	.contact-wrapper {
		background-color: $site-second;

		.contact > .contact-text {
			color: $site-first;
		}

		.form-wrapper > form > input, .form-wrapper > form > textarea {
			border-bottom-color: $site-first;
		}

		.form-wrapper > form > button {
			@extend .btn-primary;
		}

		.social-media > .social-media-text {
			color: $site-first;
		}
	}

	.modal-wrapper > .popup {
		background-color: $site-third;
		color: $site-first;
	}

	hr {
		border-top-color: $site-first;
	}

	.projects-wrapper {
		background-color: $site-second;
		color: $site-first;

		.title {
			color: $site-first;
		}

		.select-tags-text { 
			color: $site-first;
		}

		.projects-list-wrapper > .projects-list-item > a > .project-wrapper {
			background-color: $site-first;
			color: $site-third;

			&:hover {
				box-shadow: 0 0 20px -5px $site-first;
			}
		}

		.projects-list-caption {
			color: $site-first;
		}
	}

	.spinner {
		color: $site-first;
	}

	.project-content-wrapper {
		background-color: $site-second;
		color: $site-first;

		.project-title {
			color: $site-first;
		}

		.project-content-gallery {
			.flickity-page-dots > .dot {
				background: $site-first;
			}
		}

		.arrow {
			fill: $site-fourth !important;
		}

		.project-tags {
			color: $site-first;
		}
	}

	.project-description-wrapper {
		.project-description {
			color: $site-third;

			h1, h2, h3, h4 {
				color: $site-first;
			}
		}
	}
}