.darkmode {
	background-color: $site-tertiary;

	nav {
		background-color: $site-secondary;
		ul > a {
			color: $site-primary;

			&:hover {
				color: white;
			}
		}
	}

	.dropdown-menu-bar {
		background-color: $site-secondary;

		.burger-bars {
			background-color: $site-primary;

			&::before {
				background-color: $site-primary;
			}

			&::after {
				background-color: $site-primary;
			}
		}
		
		.open {
			background-color: transparent;
		}
	}

	#menu-drop {
		background-color: $site-secondary;
		
		.list {
			a {
				color: $site-primary;
			}

			hr {
				border-top-color: $site-primary;
			}
		}
	}

	footer {
		background-color: $site-secondary;
		
		.footer-text {
			color: $site-primary;
		}
	}

	.welcome-page-screen { 
		background: $site-tertiary;
	}

	#about-me {
		background-color: $site-secondary;
		color: $site-primary;
	}

	.about-me-wrapper {
		background-color: $site-tertiary;
		color: white;

		.container > .row > .about-me-content-wrapper > .about-me-content {
			h1 {
				color: $site-primary;
			}

			h2 {
				color: $site-primary;
			}

			h3 {
				color: $site-primary;
			}
		}
	}

	#page-content {
		background-color: $site-tertiary;
	}

	.contact-wrapper {
		background-color: $site-secondary;

		.contact > .contact-text {
			color: $site-primary;
		}

		.form-wrapper > form > input, .form-wrapper > form > textarea {
			border-bottom-color: $site-primary;
		}

		.social-media > .social-media-text {
			color: $site-primary;
		}
	}

	.modal-wrapper > .popup {
		background-color: $site-tertiary;
		color: $site-primary;
	}

	hr {
		border-top-color: $site-primary;
	}

	.projects-wrapper {
		background-color: $site-secondary;
		color: $site-primary;
	}
}