footer {
	@extend .py-1;
	@extend .px-3;

	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: $footer-height;
	background-color: $site-first;

	.footer-text {
		padding-left: 22px;
		font-size: 17.5px;
		min-height: 48px;
		line-height: 48px;
		color: $site-second;
	}

	.footer-social-media {
		display: flex;
		flex-direction: row;
		@extend .px-md-3;
		height: 50px;

		a {
			margin: 4px 6px;
			background-color: $site-first-darkened;
			border-radius: 5px;
			color: $site-fourth;
			font-size: 30px;
			height: 40px;
			width: 40px;
			text-align: center;
			line-height: 40px;
			transition: margin 0.25s linear, width 0.25s linear, height 0.25s linear, line-height 0.25s linear;

			&:hover {
				margin: 0 2px;
				width: 48px;
				height: 48px;
				line-height: 48px;
				transition: margin 0.25s linear, width 0.25s linear, height 0.25s linear, line-height 0.25s linear;
			}
		}
	}
}