nav {
	@extend .py-2;
	@extend .px-3;
	@extend .col-12;
	@extend .no-gutters;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $site-primary;

	a {
		img {
			@extend .rounded-circle;
			@extend .ml-4;
			@extend .p-1;

			width: 75px;
			height: 75px;
			background-color: white;
		}
	}

	ul {
		@extend .mb-0;
		@extend .mr-4;

		a {
			font-size: 30px;
			font-weight: bolder;
			margin: 4px 12px;
			text-decoration: none;
			color: $site-secondary;
			transition: color 0.25s ease-in-out;

			&:hover {
				text-decoration: none;
				color: white;
				transition: color 0.25s ease-in-out;
			}
		}
	}
}

.dropdown-menu-bar {
	display: none;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: space-between;
	height: 85px;
	z-index: 6;
	background-color: $site-primary;

	img {
		@extend .rounded-circle;

		margin-left: 10px;
		width: 75px;
		height: 75px;
		background-color: white;
	}

	.burger {
		margin-right: 10px;
		width: 45px;
		height: 45px;
		z-index: 4;
		cursor: pointer;
		position: relative;

		&-bars {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateX(-50%);
			width: 28px;
			height: 3px;
			background-color: $site-secondary;
			transition: transform 1s ease-in-out, background-color 1s ease-in-out;

			&::before {
				content: '';
				position: absolute;
				top: -8px;
				width: 28px;
				height: 3px;
				background-color: $site-secondary;
				transition: transform 1s ease-in-out, background-color 1s ease-in-out;
			}

			&::after {
				content: '';
				position: absolute;
				top: 8px;
				width: 20px;
				height: 3px;
				background-color: $site-secondary;
				transition: transform 1s ease-in-out, background-color 1s ease-in-out, width 1s ease-in-out;
			}
		}

		.open {
			transform: rotate(720deg);
			background-color: transparent;
			transition: background-color 1s ease-in-out, transform 1s ease-in-out;

			&::before {
				transform: rotate(45deg) translate(5px, 8px);
				transition: transform 1s ease-in-out;
			}

			&::after {
				width: 28px;
				transform: rotate(-45deg) translate(3px, -7px);
				transition: transform 1s ease-in-out, width 1s ease-in-out;
			}
		}
	}
}

#menu-drop {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    transform: translateY(-100%);
    z-index: 3;
    flex-direction: column;
	background-color: $site-primary;
	transition: transform 1s ease-in-out;

    .menu-bar {
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $site-primary;

        a > img {
			@extend .rounded-circle;
	
			margin-left: 10px;
			width: 75px;
			height: 75px;
			background-color: white;
		}
    }

    .list {
		height: calc(85vh - 85px);
		display: flex;
		justify-content: center;
		align-items: center;
        flex-direction: column;
        background-color: $site-primary;

        a {
			font-size: 2rem;
			font-weight: bold;
            color: $site-secondary;
			margin: 0.5rem;
            text-decoration: none;
		}
		
		hr {
			margin: 2px;
			width: 250px;
			border-top-color: $site-secondary;
		}
    }

    .menu-icon-bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
        align-items: center;
        height: 15vh;
        background-color: $site-primary;

		a {
			text-align: center;
			width: 48px;
			height: 48px;
			background-color: $site-primary-darkened;
			color: white;
			border-radius: 5px;
			margin: 0px 15px;
			font-size: 2rem;
		}
    }
}

.open {
    transform: translateY(0) !important;
}