nav {
	@extend .px-3;
	@extend .col-12;
	@extend .no-gutters;
	height: $navbar-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $site-first;
	position: fixed;
	z-index: 100;

	a {
		img {
			@extend .rounded-circle;
			@extend .ml-4;
			@extend .p-1;

			width: 75px;
			height: 75px;
			background-color: $site-fourth;
		}
	}

	ul {
		@extend .mb-0;

		a {
			font-size: 30px;
			font-weight: bold;
			margin: 4px 12px;
			text-decoration: none;
			color: $site-fourth;
			transition: color 0.25s ease-in-out;

			&:hover {
				text-decoration: none;
				color: $site-fourth;
				transition: color 0.25s ease-in-out;
			}
		}
	}

	#darkmode-switcher {
		@extend .mx-4;
		@extend .rounded-circle;

		cursor: pointer;
		color: $site-first;
		width: 45px;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		background: $site-third;
		transition: font-size 0.1s ease-in-out;

		&.light {
			color: $site-first;
			background-color: $site-fourth;
		}

		&:hover {
			font-size: 30px;
			transition: font-size 0.1s;
		}
	}
}

.dropdown-menu-bar {
	@extend .px-3;
	display: none;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 6;
	background-color: $site-first;
	height: $navbar-height;
	position: fixed;

	img {
		@extend .rounded-circle;

		margin-left: 10px;
		width: 75px;
		height: 75px;
		background-color: $site-fourth;
	}

	.burger {
		margin-right: 10px;
		width: 45px;
		height: 45px;
		z-index: 4;
		cursor: pointer;
		position: relative;

		&-bars {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateX(-50%);
			width: 24px;
			height: 3px;
			background-color: $site-second;
			transition: transform 1s ease-in-out, background-color 1s ease-in-out;

			&::before {
				content: '';
				position: absolute;
				top: -8px;
				width: 28px;
				height: 3px;
				background-color: $site-second;
				transition: transform 1s ease-in-out, background-color 1s ease-in-out;
			}

			&::after {
				content: '';
				position: absolute;
				top: 8px;
				width: 20px;
				height: 3px;
				background-color: $site-second;
				transition: transform 1s ease-in-out, background-color 1s ease-in-out, width 1s ease-in-out;
			}
		}

		.open {
			transform: rotate(720deg);
			background-color: transparent;
			transition: background-color 1s ease-in-out, transform 1s ease-in-out;

			&::before {
				transform: rotate(45deg) translate(5px, 8px);
				transition: transform 1s ease-in-out;
			}

			&::after {
				width: 28px;
				transform: rotate(-45deg) translate(3px, -7px);
				transition: transform 1s ease-in-out, width 1s ease-in-out;
			}
		}
	}
}

#menu-drop {
	@extend .px-3;
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    transform: translateY(-100%);
    z-index: 3;
    flex-direction: column;
	background-color: $site-first;
	transition: transform 1s ease-in-out;

    .menu-bar {
        height: $navbar-height;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a > img {
			@extend .rounded-circle;
	
			margin-left: 10px;
			width: 75px;
			height: 75px;
			background-color: $site-fourth;
		}
    }

    .list {
		height: calc(85vh - 95px - 75px);
		display: flex;
		justify-content: center;
		align-items: center;
        flex-direction: column;

        a {
			font-size: 3rem;
			font-weight: bold;
            color: $site-second;
			margin: 1rem;
            text-decoration: none;
		}
		
		hr {
			margin: 2px;
			width: 300px;
			border-top-color: $site-second;
		}
	}
	
	.switcher {
		height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;

		#darkmode-switcher-dropdown {
			@extend .rounded-circle;

			cursor: pointer;
			color: $site-first;
			width: 70px;
			height: 70px;
			font-size: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $site-third;
			transition: font-size 0.1s;

			&.light {
				color: $site-third;
				background-color: $site-fourth;
			}

			&:hover {
				font-size: 45px;
				transition: font-size 0.1s;
			}
		}
	}

    .menu-icon-bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
        align-items: center;
        height: 15vh;

		a {
			text-align: center;
			width: 48px;
			height: 48px;
			background-color: $site-first-darkened;
			color: $site-fourth;
			border-radius: 5px;
			margin: 0px 15px;
			font-size: 2rem;
		}
    }
}

.open {
    transform: translateY(0) !important;
}