.project-content-wrapper {
	@extend .wrapper;
	@extend .col-12;

	.project-title {
		@extend .display-4;
		@extend .my-4;

		font-weight: bold;
		text-align: center;
		color: $site-fourth;
	}

	.project-content-gallery {
		margin-bottom: 15px;

		.VueCarousel-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.VueCarousel-dot--active {
			background-color: $site-first-darkened !important;
		}

		img {
			max-width: 100%;
			max-height: 400px;
			border-radius: 10px;
		}
	}

	.project-buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		a {
			@extend .btn;
			@extend .btn-info;
			@extend .btn-lg;
			@extend .m-2;
		}
	}

	hr {
		border-top-color: $site-fourth;
	}

	.project-tags {
		@extend .mb-3;

		color: $site-fourth;

		.project-tags-text {
			@extend .h2;

			font-weight: bold;
			text-align: center;
		}

		.project-tags-content {
			@extend .h5;
			text-align: center;
		}
	}

	.project-description-wrapper {
		@extend .row;
		@extend .m-3;

		.project-description {
			@extend .col-lg-8;
			@extend .col-md-10;
			@extend .offset-md-1;
			@extend .offset-lg-2;

			background: $site-fourth;
			border-radius: 10px;

			.project-description-content {
				@extend .m-2;
				@extend .mt-4;

				p {
					font-size: 17.5px;
					text-align: justify;
				}

				h1, h2, h3, h4 {
					font-weight: bold;
				}

				img {
					@extend .my-2;

					border-radius: 10px;
					width: 100%;
				}
			}
		}
	}
}
