@mixin media-xs {
    @media screen and (max-width: 280px) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@include media-xs {
	
}


@include media-sm {
	footer {
		.footer-text {
			font-size: 12.5px;
		}
	}
}

@include media-md {
	nav {
		display: none;
	}

	.dropdown-menu-bar {
		display: flex;
	}

	#menu-drop {
		display: block;
	}
}

@include media-lg {

}

@include media-xl {

}