@mixin media-xs {
    @media screen and (max-width: 280px) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@include media-xs {

}

@media screen and (max-width: 700px) {
	#menu-drop {
		.list {
			a {
				font-size: 2.5rem;
				margin: 0.5rem;
			}

			hr {
				width: 250px;
			}
		}
	}

	.welcome-page-screen {
		height: calc(100vh - #{$navbar-height + $footer-height-extended});

		.welcome-bar {
			padding: 30px 10px;
			padding-bottom: 40px;
			min-height: unset !important;

			.text {
				&-first {
					font-size: 60px;
					margin-bottom: 10px;
				}

				&-second {
					font-size: 25px;
				}
			}

			hr {
				width: 90%;
				max-width: 300px;
			}
		}
	}

	#about-me {
		font-size: 1.5rem !important;
		padding: 1.5rem 0 !important;
	}

	.contact-wrapper > .social-media > .social-media-content > .icons > a {
		width: 50px;
		height: 50px;
		font-size: 35px;
	}

	.projects-wrapper {
		.projects-list-wrapper > .projects-list-item {
			a > .project-wrapper > .project-thumbnail {
				height: 175px !important;
			}
		}
	}
}

@include media-sm {
	footer {
		flex-direction: column-reverse;
		justify-content: end;
		height: $footer-height-extended;

		.footer-text {
			font-size: 12.5px;
			min-height: 30px;
			line-height: 30px;
			padding: 0;
		}
	}

	.contact-wrapper {
		margin: 0 16px;
		margin-bottom: 25px;

		.contact > .contact-text {
			font-size: 2.5rem;
		}
	}

	.projects-wrapper {
		.title {
			font-size: 2.5rem;
		}

		.select-tags {
			&-text {
				text-align: center;
				font-size: 2rem;
			}
		}

		.projects-list-wrapper > .projects-list-item {
			width: 95% !important;
		}
	}

	#page-content {
		min-height: calc(100vh - #{$footer-height-extended});
	}

	.project-content-wrapper {
		padding-left: 0;
		padding-right: 0;

		.project-title {
			font-size: 2.5rem;
		}
	}
}

@include media-md {
	nav {
		display: none;
	}

	.dropdown-menu-bar {
		display: flex;
	}

	#menu-drop {
		display: block;
	}
	
	.welcome-page-screen > .welcome-bar {
		width: calc(100vw - 60px);
	}

	#about-me {
		font-size: 3rem;
	}

	.projects-wrapper {
		.projects-list-wrapper > .projects-list-item {
			width: calc(95% / 2);

			a > .project-wrapper > .project-thumbnail {
				height: 225px;
			}
		}
	}
}

@include media-lg {

}

@include media-xl {

}