$site-first: #00b8ff;
$site-first-darkened: darken($site-first, 10%);
$site-second: #0e0e0e;
$site-third: #000;
$site-fourth: #fff;

$navbar-height: 95px;
$footer-padding-top: 25px;
$footer-height: 60px;
$footer-height-extended: 90px;

$primary: $site-first;
$secondary: $site-second;
$info: $site-first-darkened;