$site-primary: #00b8ff;
$site-primary-darkened: darken($site-primary, 10%);
$site-secondary: #0e0e0e;
$site-tertiary: #000;

$navbar-height: 95px;
$footer-height: 60px;
$footer-height-extended: 90px;

$primary: $site-primary;