.welcome-page-screen {
	@extend .wrapper;
	display: flex;
	justify-content: center;
	align-items: center;

	.welcome-bar {
		position: absolute;
		z-index: 1;
		padding: 20px 10px;
		padding-bottom: 30px;
		background-color: $site-first;
		border-radius: 50px;
		width: 800px;
		height: 360px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $site-fourth;

		.text {
			&-first {
				font-size: 80px;
				font-weight: bold;
			}

			&-second {
				margin-top: -10px;
				font-size: 30px;
			}
		}

		hr {
			width: calc(920px / 2);
			border-top-color: $site-fourth;
			margin-top: 25px;
			margin-bottom: 30px
		}

		.resume {
			a {
				@extend .btn;
				@extend .btn-lg;
				@extend .btn-info;
				font-weight: bold;
			}
		}
	}
}
