.welcome-page-screen {
	background: $site-fourth;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - #{$navbar-height});

	.welcome-bar {
		position: absolute;
		z-index: 1;
		padding: 10px;
		background-color: $site-first;
		border-radius: 50px;
		width: 900px;
		min-height: calc((100vh - #{$footer-height + $navbar-height}) / 2);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.text {
			&-first {
				font-size: 80px;
				font-weight: bold;
			}

			&-second {
				font-size: 50px;
			}
		}

		hr {
			width: calc(920px / 2);
			border-top-color: $site-second;
		}
	}
}

#about-me {
	@extend .py-5;

	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	background-color: $site-first;
	color: $site-second;
	scroll-margin-top: $navbar-height;
}

.about-me-wrapper {
	.resume {
		@extend .py-3;
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			@extend .btn;
			@extend .btn-lg;
			@extend .btn-primary;

			font-weight: bold;
		}
	}

	.container > .row > .about-me-content-wrapper {
		@extend .col-lg-8;
		@extend .col-md-10;
		@extend .offset-md-1;
		@extend .offset-lg-2;

		.about-me-content {
			@extend .mx-2;
			@extend .my-3;

			font-size: 17.5px;
	
			p {
				text-align: justify;
			}

			h1, h2, h3, h4 {
				font-weight: bold;
			}

			h2 {
				font-size: 1.625rem;
			}

			img {
				@extend .my-2;

				border-radius: 10px;
				width: 100%;
			}

			.small {
				font-size: 12.5px;
				text-align: center;
			}
		}
	}
}