extends page-template.pug

block js
	- const title = "RCRalph's Portfolio Page";
	- const noTop = true;

block content
	.index-wrapper.w-100
		.welcome-page-screen
			#particles-js
			.welcome-bar
				.text-first RCRalph
				.text-second Software Engineer

				hr

				.resume
					a(
						role="button"
						href="https://storage.rcralph.me/rcralph/resume.pdf"
						target="_blank"
					) Download my resume