#menu-drop
	.menu-bar
		a( href="/" )
			img( src="/img/logo.png" )
	
	.list
		a#about-me-tab-click( href="/#about-me" ) About me
		hr
		a( href="/projects" ) My projects
		hr
		a( href="/contact-me" ) Contact me
	
	.menu-icon-bar
		a( href="https://www.linkedin.com/" target="_blank" )
			i.fab.fa-linkedin-in
		a( href="https://twitter.com/RCRalph72" target="_blank" )
			i.fab.fa-twitter
		a( href="https://www.facebook.com/RCRalph72/" target="_blank" )
			i.fab.fa-facebook-f